.navbar {
    background-color: rgba(160, 185, 192, .4)
}

.jumbotron {
    background-image: url(/img/computer.jpeg);
    background-attachment: fixed;
    background-size: cover;
}

.box {
    margin-top: 200px;
    background-color: rgba(160, 185, 192, .4)
}

.icon {
    height: 100px;
    width: 100px;
}
.res-logo {
    background-color: darkslategray;
}